<!-- include header -->
<%- include('include/header') %>
    <!-- /include header -->

    <div class="container mt-5">
        <table class="table table-light table-striped ">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Full Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Level</th>
                    <th scope="col">Course</th>
                    <th scope="col">Gender</th>
                    <th scope="col">Status</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>


                <% for(var i=0; i < student.length; i++) {%>
                    <tr>
                        <th scope="row">
                            <%= i +1 %>
                        </th>
                        <td>
                            <%= student[i]['Student_name'] %>
                        </td>
                        <td>
                            <%= student[i]['Student_email'] %>
                        </td>
                        <td>
                            <%= student[i]['Student_level'] %>
                        </td>
                        <td>
                            <%= student[i]['Student_course'] %>
                        </td>
                        <td>
                            <%= student[i]['Student_gender'] %>
                        </td>
                        <td>
                            <%= student[i]['Student_status'] %>
                        </td>

                        <!-- Update and Delete buttons -->
                        <td>
                            <a class='btn' href="/update_student/<%= student[i]["_id"] %>"><i
                                    class="fa-solid fa-pen-to-square"></i></a>
                            <a class='btn' href="/delete/<%= student[i]["_id"] %>"><i
                                    class="fa-solid fa-trash-can"></i></a>
                        </td>
                        <!-- /Update and Delete buttons -->

                    </tr>

                    <% } %>

            </tbody>
        </table>
    </div>


    <!-- Copyright -->
    <style>
        .footer {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            text-align: center;
            font-size: 1rem
        }
    </style>

    <div class="glass  alert alert-dark">
        <p>This web application was created to fulfill Web Technology module’s requirements and does not
            represent an actual company or service. </p>
    </div>
    <!-- Copyright -->


    <!-- include footer -->
    <%- include('include/footer') %>
        <!-- /include footer -->